.edgeAbout {
    background-color: #b1b953;
}

.mainAbout {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    .aboutHeader {
        text-align: center;

        h1 {
            padding-bottom: 12px;
        }

        p {
            font-size: 32px;
            font-weight: 400;
        }
    }

    .aboutContent {
        display: flex;

        .aboutCards {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .aboutIconCircle::before {
                height: 170px;
                width: 170px;
                background-color: #d9d9d9;
                border-radius: 50%;


                // &::before {
                //     content: "";
                //     background-image: url(../assets/icons/sprite.svg#pointer);
                // }

            }

        }
    }


}