.edgeFriend {
    height: 100vh;
    background-color: #B1B953;

    .mainFriend {
        display: flex;
        justify-content: space-between;

        @include tablets {
            height: 100%;
          }

        .friendContent {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            margin: 0 75px;

            @include tablets {
                justify-content: center;
                margin: auto 22px;
              }

            h1 {
                text-align: center;

                @include tablets {
                    margin-bottom: 30px;
                }
            }

            li {
                font-size: 32px;

                @include tablets {
                    font-size: 28px;
                }

                @include phones {
                    font-size: 24px;
                }
            }
        }

        .friendImage {
            display: flex;
            justify-content: flex-end;

            @include tablets {
                display: none;
              }
            
            img {
                height: 100vh;
                max-width: 100%;
            } 
        }
    }
}